* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 17px;
    color: #926239;
    line-height: 1.6;
    text-align: center;
}

.wrapper {
    background-image: url(./src/img/bg-img.jpg);
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.heading {
    display: block;
    font-size:25px;
    padding-top: 20%;
    margin: auto;
}
.link {
    text-decoration: none;
    display: block;
    font-size: 20px;
    width: 125px;
    height: 45px;
    color: #926239;
    border: 1px solid #926239;
    border-radius: 6px;
    padding-top: 2px;
    margin: 10px auto;
}
.section {
    padding: 20px;
    background: #926239;
    color: #fff;
}

.section2 {
    background-color: white;
    color: #926239;
}

.inline {
    width: 33.33%;
    height: 20vh;
    padding: 20px;
    background-color: #926239;
    color: #fff;
    display: inline-block;
    }

.inline2 {
    background-color: white;
    color: #926239;
}